version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: hello-world-local:${VERSION:-latest}
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    volumes:
      - ./app:/app/app:ro
